*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f494;
    color:#333;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#002244;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:gold;
}

.logo img{
    width:70px;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.profile-image{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
    border:5px solid #002244;
}

.hero h1{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#002244;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:0.5s;
    border:none;
    cursor:pointer;
}

.btn:hover{
    background:gold;
    color:black;
}

.content{
    padding:50px;
    text-align:center;
}

form{
    max-width:500px;
    margin:auto;
}

form input,
form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

textarea{
    height:150px;
}